@charset "UTF-8";
@import url("https://../fonts.googleapis.com/css2?семья=PT+Sans&display=swap");
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue Regular.eot");
  src: local("☺"), url("../fonts/BebasNeue Regular.woff") format("woff"), url("../fonts/BebasNeue Regular.ttf") format("truetype"), url("../fonts/BebasNeue Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGroteskPro";
  src: url("../fonts/AkzidenzGroteskPro-BoldCn.eot");
  src: local("☺"), url("../fonts/AkzidenzGroteskPro-BoldCn.woff") format("woff"), url("../fonts/AkzidenzGroteskPro-BoldCn.ttf") format("truetype"), url("../fonts/AkzidenzGroteskPro-BoldCn.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  font-family: "AkzidenzGroteskPro";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 54.1875rem;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  padding: 20px 0 80px;
}

.header__menu {
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__logo::before, .header__logo::after {
  font-family: Bebas;
  font-size: 0.725rem;
  line-height: 1.39;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #000000;
  position: absolute;
}

.header__logo::before {
  content: "NYC'S";
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header__logo::after {
  content: "Catering";
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header__logo img {
  max-width: 100%;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 29px 0px;
}

.header-top__order {
  font-size: 1rem;
  color: #000000;
  line-height: 1.667;
  text-transform: uppercase;
  padding: 1px;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-top-language {
  font-family: Bebas;
  font-size: 0.8rem;
  line-height: 2.5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.header-top-language a {
  padding: 5px;
  color: #000000;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-top-language a:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -10px;
}

.menu__link {
  color: #000000;
  font-size: 1rem;
  line-height: 1.667;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu li {
  padding: 0 10px;
  position: relative;
}

.menu li:nth-child(3) {
  padding: 0px 170px 0px 10px;
}

.menu li:nth-child(4) {
  padding: 0px 10px 0px 170px;
}

.footer {
  padding: 50px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copy {
  font-family: "PT Sans";
  font-size: 0.9375rem;
  line-height: 1.667;
  color: #4d4d4d;
}

.footer__copy span {
  text-decoration: underline;
}

.footer__logo {
  max-width: 100%;
}

.offer {
  background: #000;
}

.offer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.offer__body {
  padding: 82px 0px 75px 62px;
  color: #fff;
}

.offer__title {
  margin: 0px 0px 20px 0px;
  width: 50%;
}

.offer__text {
  font-family: "PT Sans";
  font-size: 0.9rem;
  line-height: 1.667;
  margin: 0px 0px 55px 0px;
  width: 40%;
}

.offer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer__btn {
  background-color: #ffffff;
  margin: 0px 10px 0px 0px;
}

.item {
  height: 100%;
  position: relative;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn {
  display: block;
  padding: 0 33px;
  border-radius: 10px;
  line-height: 3;
  font-family: Bebas;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}

.view {
  display: block;
  font-family: Bebas;
  font-size: 1.25rem;
  line-height: 1.667;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fffffe;
}

.title {
  font-size: 4rem;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.menus {
  padding: 75px 0;
}

.menus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-menus__image {
  margin: 0px 0px 25px 0px;
}

.item-menus__title {
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0px 0px 36px 0px;
  width: 50%;
}

.item-menus__text {
  font-family: "PT Sans";
  font-size: 1.125rem;
  line-height: 1.667;
  width: 90%;
  margin: 0px 0px 30px 0px;
}

.item-menus__btn {
  display: block;
  background: #000;
  color: #fff;
  width: 65%;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.item-menus__view {
  display: block;
  color: #000;
}

.choose {
  background: #000;
}

.choose__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__item {
  position: relative;
  height: 100%;
}

.choose__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.choose__body {
  text-align: end;
  padding: 60px 60px 60px 0px;
}

.choose__text {
  font-size: 4.125rem;
  line-height: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.choose__image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.advantages {
  padding: 50px 0;
  background: #ebebeb;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.advantages__column {
  padding: 0 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.advantages__column:nth-child(1) {
  margin: 0px 0px 40px 0px;
}

.advantages__column:nth-child(2) {
  margin: 0px 0px 40px 0px;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

.item-advantages__image {
  border-radius: 20px;
  background: #fff;
  padding: 15px;
}

.item-advantages__image img {
  max-width: 100%;
}

.item-advantages__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item-advantages__title {
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 0px 0px 30px 0px;
}

.item-advantages__text {
  font-family: "PT Sans";
  font-size: 1rem;
  line-height: 1;
  color: #000000;
}

.contacts {
  padding: 75px 0 8px;
}

.contacts__title {
  margin: 0px 0px 35px 0px;
  color: #000000;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.contacts__link {
  margin: 0px 20px 0px 0px;
}

.contacts__link:nth-child(1) {
  margin: 0px 20px 0px -7px;
}

.contacts__link a {
  padding: 10px;
}

.item-contacts__image {
  margin: 0px 10px 0px 0px;
}

.item-contacts__image img {
  max-width: 100%;
}

.item-contacts__text {
  font-family: "PT Sans";
  font-size: 1rem;
  line-height: 1.667;
  color: #000000;
}

.location {
  background: #000;
}

.location__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.location__item {
  height: 100%;
  position: relative;
}

.location__image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.location__body {
  padding: 55px 0px 55px 60px;
}

.location__title {
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0px 0px 28px 0px;
}

.location__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 55%;
  font-family: "PT Sans";
}

.location__input {
  margin: 0px 0px 20px 0px;
  border: 2px solid #959595;
  background: #252525;
  font-size: 1.125rem;
  line-height: 3.5;
  padding: 0px 0px 0px 10px;
}

.location__textarea {
  height: 100px;
  padding: 0px 0px 0px 10px;
  font-size: 1.125rem;
  line-height: 1.667;
  background: #252525;
  margin: 0px 0px 20px 0px;
  border: 2px solid #959595;
  resize: none;
}

.location__btn {
  border-radius: 10px;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  padding: 0 22px;
  font-family: Bebas;
  font-size: 1.35rem;
  line-height: 2.5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}
