//<Mixins>=================================================================================================

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//</Mixins>================================================================================================

//<../fonts>==================================================================================================

//<Connect ../fonts>==========================================================================================

@import url("https://../fonts.googleapis.com/css2?семья=PT+Sans&display=swap");

@font-face {
	font-family: "Bebas";
	src: url("../fonts/BebasNeue Regular.eot");
	src: local("☺"), url("../fonts/BebasNeue Regular.woff") format("woff"),
		url("../fonts/BebasNeue Regular.ttf") format("truetype"), url("../fonts/BebasNeue Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AkzidenzGroteskPro";
	src: url("../fonts/AkzidenzGroteskPro-BoldCn.eot");
	src: local("☺"), url("../fonts/AkzidenzGroteskPro-BoldCn.woff") format("woff"),
		url("../fonts/AkzidenzGroteskPro-BoldCn.ttf") format("truetype"),
		url("../fonts/AkzidenzGroteskPro-BoldCn.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

//</Connect ../fonts>==========================================================================================

//<Standard font>===========================================================================================

$fontfamaly: "AkzidenzGroteskPro";

//</Standard font>==========================================================================================

//</../fonts>==================================================================================================

//<Variables>===========================================================================================

$maxWidthContainer: 54.25rem;
$maxWidth: 200px;
//</Variables>==========================================================================================

//<Zeroing and Common parameters>===========================================================================

@import "_nullstyle";

html,
body {
	font-family: $fontfamaly;
}

//</Zeroing and Common Parameters>===========================================================================

//<Wrapper>==================================================================================================

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</Wrapper>=================================================================================================

//<Main grid>================================================================================================

.container {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
	@media (max-width: 767px) {
		max-width: none;
	}
}

.content {
	flex: 1 1 auto;
	@media (max-width: 767px) {
		padding: 6px 0px 0px 0px;
	}
}

//</Main grid>===============================================================================================

//<Connecting page styles and elements>=====================================================================

@import "_ibg";
@import "_header";
@import "_footer";

//</Connecting page styles and elements>=====================================================================

//===========================================================================================================

//</Main block>==============================================================================================

//<Offer>====================================================================================================

.offer {
	background: #000;
	&__row {
		display: flex;
	}
	&__column {
		flex: 1 1 50%;
	}

	&__item {
	}

	&__image {
	}

	&__body {
		padding: 82px 0px 75px 62px;
		color: #fff;
	}

	&__title {
		margin: 0px 0px 20px 0px;
		width: 50%;
	}

	&__text {
		font-family: "PT Sans";
		font-size: 0.9rem;
		line-height: 1.667;
		margin: 0px 0px 55px 0px;
		width: 40%;
	}

	&__btns {
		display: flex;
		align-items: center;
	}
	&__link {
	}
	&__btn {
		background-color: #ffffff;
		margin: 0px 10px 0px 0px;
	}

	&__view {
	}
}

.item {
	height: 100%;
	position: relative;
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.btn {
	display: block;
	padding: 0 33px;
	border-radius: 10px;
	line-height: 3;
	font-family: Bebas;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #000000;
}

.view {
	display: block;
	font-family: Bebas;
	font-size: 1.25rem;
	line-height: 1.667;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fffffe;
}

.title {
	font-size: 4rem;
	line-height: 1.125;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

//</Offer>===================================================================================================

//<Menus>====================================================================================================

.menus {
	padding: 75px 0;
	&__row {
		display: flex;
	}

	&__column {
	}

	&__item {
	}
}

.item-menus {
	&__image {
		margin: 0px 0px 25px 0px;
	}

	&__title {
		font-size: 2rem;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin: 0px 0px 36px 0px;
		width: 50%;
	}

	&__text {
		font-family: "PT Sans";
		font-size: 1.125rem;
		line-height: 1.667;
		width: 90%;
		margin: 0px 0px 30px 0px;
	}

	&__btn {
		display: block;
		background: #000;
		color: #fff;
		width: 65%;
		text-align: center;
		margin: 0px 0px 20px 0px;
	}

	&__view {
		display: block;
		color: #000;
	}
}

//</Menus>====================================================================================================

//<Choose>====================================================================================================

.choose {
	background: #000;
	&__row {
		display: flex;
	}
	&__item {
		position: relative;
		height: 100%;
	}
	&__column {
		flex: 1 1 50%;
	}

	&__body {
		text-align: end;
		padding: 60px 60px 60px 0px;
	}

	&__text {
		font-size: 4.125rem;
		line-height: 0.5;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #ffffff;
	}

	&__image {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
}

//</Choose>====================================================================================================

//<Advantages>====================================================================================================

.advantages {
	padding: 50px 0;

	background: #ebebeb;
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__column {
		padding: 0 15px;
		flex: 1 1 50%;
		&:nth-child(1) {
			margin: 0px 0px 40px 0px;
		}
		&:nth-child(2) {
			margin: 0px 0px 40px 0px;
		}
	}

	&__item {
	}
}

.item-advantages {
	display: flex;
	align-items: center;
	column-gap: 20px;
	&__image {
		border-radius: 20px;
		background: #fff;
		padding: 15px;
		& img {
			max-width: 100%;
		}
	}

	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 1.5rem;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #000000;
		margin: 0px 0px 30px 0px;
	}

	&__text {
		font-family: "PT Sans";
		font-size: 1rem;
		line-height: 1;
		color: #000000;
	}
}

//</Advantages>====================================================================================================

//<Contacts>=======================================================================================================

.contacts {
	padding: 75px 0 8px;
	&__title {
		margin: 0px 0px 35px 0px;
		color: #000000;
	}

	&__row {
		display: flex;
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
	}

	&__item {
		display: flex;
		align-items: center;
		margin: 0px 0px 20px 0px;
	}

	&__link {
		margin: 0px 20px 0px 0px;
		&:nth-child(1) {
			margin: 0px 20px 0px -7px;
		}
		& a {
			padding: 10px;
		}
	}
}

.item-contacts {
	&__image {
		margin: 0px 10px 0px 0px;
		& img {
			max-width: 100%;
		}
	}

	&__text {
		font-family: "PT Sans";
		font-size: 1rem;
		line-height: 1.667;
		color: #000000;
	}
}

//</Contacts>====================================================================================================

//<Location>=====================================================================================================

.location {
	background: #000;
	&__row {
		display: flex;
	}

	&__column {
		flex: 1 1 50%;
	}

	&__item {
		height: 100%;
		position: relative;
	}

	&__image {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	&__body {
		padding: 55px 0px 55px 60px;
	}

	&__title {
		font-size: 2rem;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #ffffff;
		margin: 0px 0px 28px 0px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 55%;
		font-family: "PT Sans";
	}

	&__input {
		margin: 0px 0px 20px 0px;
		border: 2px solid #959595;
		background: #252525;
		font-size: 1.125rem;
		line-height: 3.5;
		padding: 0px 0px 0px 10px;
	}

	&__textarea {
		height: 100px;
		padding: 0px 0px 0px 10px;
		font-size: 1.125rem;
		line-height: 1.667;
		background: #252525;
		margin: 0px 0px 20px 0px;
		border: 2px solid #959595;
		resize: none;
	}

	&__btn {
		border-radius: 10px;
		align-self: start;
		padding: 0 22px;
		font-family: Bebas;
		font-size: 1.35rem;
		line-height: 2.5;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #000000;
	}
}

//</Location>=======================================================================================================

//</Main block>==============================================================================================

//===========================================================================================================
