//<Mixins>=================================================================================================

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//</Mixins>================================================================================================

//<Fonts>==================================================================================================

//<Connect fonts>==========================================================================================

@import url("https://fonts.googleapis.com/css2?семья=PT+Sans&display=swap");

@font-face {
	font-family: "AkzidenzGrotesk";
	src: url("../fonts/AkzidenzGrotesk-BoldCond.eot");
	src: local("☺"), url("fonts/AkzidenzGrotesk-BoldCond.woff") format("woff"),
		url("fonts/AkzidenzGrotesk-BoldCond.ttf") format("truetype"),
		url("fonts/AkzidenzGrotesk-BoldCond.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "BebasNeue";
	src: url("../fonts/BebasNeue Regular.eot");
	src: local("☺"), url("fonts/BebasNeue Regular.woff") format("woff"),
		url("fonts/BebasNeue Regular.ttf") format("truetype"), url("fonts/BebasNeue Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

//</Connect fonts>==========================================================================================

//<Standard font>===========================================================================================

$fontfamaly: "AkzidenzGrotesk";

//</Standard font>==========================================================================================

//</Fonts>==================================================================================================

//<Variables>===========================================================================================

$maxWidthContainer: 54.1875rem;
$maxWidth: 200px;
//</Variables>==========================================================================================

//<Zeroing and Common parameters>===========================================================================

@import "_nullstyle";

html,
body {
	font-family: $fontfamaly;
}

//</Zeroing and Common Parameters>===========================================================================

//<Wrapper>==================================================================================================

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</Wrapper>=================================================================================================

//<Main grid>================================================================================================

.container {
	max-width: $maxWidthContainer;
}

//</Main grid>===============================================================================================

//<Connecting page styles and elements>=====================================================================

@import "_ibg";
@import "_header";
@import "_footer";

//</Connecting page styles and elements>=====================================================================

//===========================================================================================================

//</Main block>==============================================================================================

//</Main block>==============================================================================================

//===========================================================================================================
